
name: Deploy to AWS S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Initialize and apply Terraform configuration
        run: |
          cd terraform
          terraform init
          terraform apply -auto-approve

      - name: Sync files to S3
        run: |
          cd ..
          aws s3 sync ./ s3://$(terraform output -state=terraform/terraform.tfstate s3_bucket_name) --delete

      - name: Output website endpoint
        run: |
          echo "Website endpoint: http://$(terraform output -state=terraform/terraform.tfstate s3_bucket_name).s3-website.ap-south-1.amazonaws.com"
