
name: Deploy to S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Initialize and Apply Terraform
        run: |
          cd terraform
          terraform init
          terraform apply -auto-approve

      - name: Get Terraform Output
        run: |
          cd terraform
          BUCKET=$(terraform output -raw s3_bucket_name)
          ENDPOINT=$(terraform output -raw website_endpoint)
          echo "S3_BUCKET_NAME=$BUCKET" >> $GITHUB_ENV
          echo "WEBSITE_ENDPOINT=$ENDPOINT" >> $GITHUB_ENV

      - name: Sync index.html to S3
        run: |
          aws s3 sync . s3://${S3_BUCKET_NAME} --delete
          aws s3 cp index.html s3://${S3_BUCKET_NAME}/index.html
