
name: Deploy to S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 'latest'

      - name: Initialize Terraform
        run: terraform -chdir=terraform init

      - name: Apply Terraform
        run: terraform -chdir=terraform apply -auto-approve

      - name: Get Terraform Output
        run: |
          echo "website_endpoint=$(terraform -chdir=terraform output -json website_endpoint | jq -r '.value')"
          echo "s3_bucket_name=$(terraform -chdir=terraform output -json s3_bucket_name | jq -r '.value')"
          echo "::set-output name=website_endpoint::$(terraform -chdir=terraform output -json website_endpoint | jq -r '.value')"
          echo "::set-output name=s3_bucket_name::$(terraform -chdir=terraform output -json s3_bucket_name | jq -r '.value')"

      - name: Sync index.html to S3
        run: |
          aws s3 sync . s3://${S3_BUCKET_NAME} --delete
          aws s3 cp index.html s3://${S3_BUCKET_NAME}/index.html
        env:
          S3_BUCKET_NAME: ${{ steps.deploy.outputs.s3_bucket_name }}
          AWS_REGION: ap-south-1
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
